@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu:wght@300&display=swap');


.navbar-brand {
  color:whitesmoke !important;
  font-size: 20px !important;
  font-family: "Nunito", sans-serif;
}
img {
  width: 190px;
  /* padding-right: 10px; */
}

img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 #ffffff);
}

.nav-item {
  color: whitesmoke !important;
  font-size: 15px !important;
  font-family: "Nunito", sans-serif;
}

.nav-link {
  font-family: "Nunito", sans-serif;
  color: whitesmoke !important;
  margin-right: 30px;
}

.nav-link:hover {
  color: #ffc312 !important;
}

.nav-link.active {
  font-family: "Nunito", sans-serif;
  color: #ffc312 !important;
}

.navbar-toggler {
  margin-left: -50px;
 
}


.navbar-collapse {
  text-align: center;
  color: whitesmoke !important;
}


@media (max-width: 1200px) {
  .navbar-collapse {
      text-align: left;
     
  }
  }

  .navbar-bg {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
