#account-info {
    font-size: 20px;
    background-color: white;
    width: 400px !important;
    text-align: left;
    border: 1px solid solid rgba(23, 23, 23, 0.2);
}

.center-header {
    text-align: center !important;
}