.body-font {
  color: rgb(53, 53, 53);
  /* font-size: 100px; */
  text-align: center;
  min-height: 100vh;
}

.thead-color {
  background-color: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
}

.dash-container {
  min-height: 87vh;
  margin-top: 50px;
  margin-bottom: 10px;
}

.details-button {
  background-color: #debf61 !important;
  color: rgb(53, 53, 53) !important;
  outline: none !important;
  border: none !important;
  border-radius: 12px !important;
}

.details-button:focus {
  outline: none !important;
  box-shadow: 0 0 15px #82807b !important;
}

.manage-button {
  background-color: #debf61 !important;
  color: rgb(53, 53, 53) !important;
  outline: none !important;
  border: none !important;
}

.manage-button:focus {
  outline: none !important;
  box-shadow: 0 0 15px #82807b !important;
}


.manage-button:hover {
  outline: none !important;
  background-color: #f5db8e !important;
}

.welcome-title {
  font-size: 30px;
}

