.button-colors {
  background-color: rgba(0, 0, 0, 0.7) !important ;
  border: none !important;
  width: 110px;
}

.button-colors:hover {
  background-color: #a7914b !important;
  /* background-color: #f5db8e !important; */
  color: whitesmoke !important;
  outline: none !important;
  border: none !important;
}

.button-colors:focus {
  /* background-color: #f5db8e !important; */
  /* color:black !important; */
  box-shadow: none !important;
}

#stock-input input {
  text-align: center !important;
  /* border-radius: 20px !important; */
  border: solid 2px rgba(0, 0, 0, 0.7) !important;
  height: 50px;
  width: 300px;
  margin-top: 20px;
  /* margin-bottom: 50px; */
}

#stock-input input:focus {
  box-shadow: none !important;
  outline: black !important;
}

.search-button {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  height: 50px;
  width: 90px;
  outline: none !important;
  border: none !important;
}
.search-button:hover {
  background-color: #f5db8e !important;
  color: black !important;
}

.dropdown {
  background-color: white;
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center !important;
  text-align: center !important;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: center;
  margin-bottom: 1px;
  border-bottom: 1px solid;
  /* margin: 2px 0; */
}

/* .stock-details-box {
  border: 0.5px solid black !important;
} */

.stock-button-spacing {
  padding-left: 20px !important;
  padding-right: 20px !important; 
  padding-bottom: -10px !important;
}

#details .card {
  height: 570px !important;
  /* margin-top: 16vh; */
  background-color: white !important;
  width: 1000px !important;
  border-radius: 25px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.inner-card {
  padding-top: 15px;
  background-color: white !important;
}
#inner-card .card-header {
  background-color: white !important;
  font-size: 25px;
}

#reactgooglegraph-1 {
  width: 950px !important;
}
