
@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-image: url("/src/Images/penguin-color-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}
/* 
.container {
  height: 100%;
  align-content: center;
} */

.penguin-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.card {
  height: 470px;
  margin-top: 16vh;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 25px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcon,
.pwdIcon {
  max-width: 30px;
}

h3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.input-group-prepend span {
  width: 100%;
  background-color: #ffc312;
  color: black;
  border: none !important;
  outline: none !important;
 
  
}



.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-group {
  margin-bottom: 20px;
  width: 100% !important;
}


.login_btn {
  color: black;
  background-color: #ffc312 !important;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: rgb(211, 210, 210) !important;
}

.links {
  color: white;
}

.links a {
  color: #4ec4ff;
  margin-left: 4px;
}

.links a:hover {
  
  color: #ffc312;;
  margin-left: 4px;
}
