.penguin-logo {
    width: 300px;
    height: 300px;
  }


  .bg-image-signin {
    background: url(/src/Images/penguin-color-bg.png) no-repeat center !important;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  