
 .bg-image-signin {
  /* background: url(/src/Images/penguin-color-bg.png) no-repeat center;
  background-size: cover; */
  text-align: center;
  min-height: 100vh;
  width: 100%;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  font-family: "Numans", sans-serif;
}



.penguin-logo-signin {
  width: 80px;
  margin-bottom: 20px;
  margin-top: 5px;
}


.title-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  margin-top: 10px !important;
  margin-bottom: 50px !important;
  font-size: 15px !important;
}

.bottomSpacing {
  margin-bottom: 200px !important;
}