@import url("https://fonts.googleapis.com/css?family=Numans");

.modal_btn {
  color: black;
  background-color:rgba(0, 0, 0, 0.7) !important;
  border: none !important;
  box-shadow: none !important;    
}

.modal_btn:hover {
  color: black;
  background-color: #cfc299 !important;
}

.body-text {
  font-family: "Numans", sans-serif;
  text-align: center;
  /* padding-right: 5px; */
  /* font-size: 15px; */
  /* text-align: center; */
}

.numbers-font {
  /* max-width: 900px; */
  font-size: 30px;
  text-align: center;
}


/* .number-input {
  text-align: center;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-self: center !important;
} */

#input-spinner-right-button {
  background-color: #debf61 !important;
  border-color: #debf61;
  box-shadow: none !important;
  color: black !important;
  border-radius: 25px !important;
  margin-left: 10px !important;

}

#input-spinner-right-button:hover {
  background-color: #f5db8e !important;
  
}

#input-spinner-left-button:hover {
  background-color: #f5db8e !important;
  
}

#input-spinner-left-button {
  background-color: #debf61 !important;
  border-color: #debf61;
  box-shadow: none !important;
  color: black !important;
  border-radius: 25px !important;
  margin-right: 10px !important;
}


#spinner .form-control {
  text-align: center;
  background-color: whitesmoke !important;
  max-width: 70px !important;
  outline: none !important;
  border: none !important;
}

#spinner .input-group {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-self: center !important;
}


.modal-body {
  margin-bottom: -15px !important;
}

.modal-logo-size {
  max-width: 40px !important;
  max-height: 40px !important;
  /* padding-right: 20px !important; */
}

.no-funds, .no-shares {
  color: red;
}

.numbers-margins {
  margin-left: 80px;
  margin-right: 80px;
}

.margin-right {
  margin-right: 80px !important;
}

.left, .right {
  flex-grow: 1;
  flex-basis: 0;
}

.total-calculation {
  color: rgb(88, 131, 88);
  font-size: 25px;
  text-align: center;
}

/* .calculation-padding {
  font-size: 15px !important;
  /* margin-right: -10px !important; */

  .modal-header{
  
    width: 800px !important;
    
  }

  .modal-title {
    width: 700px !important;
  }

  .title-margins {
    margin-right: 20px !important;
  }


button.btn-close {
  padding: 10px !important;
  margin-left: 5px !important;
}