@import url("https://fonts.googleapis.com/css?family=Numans");

.modal_btn {
  color: black;
  background-color: #fbd04f !important;
  border: none !important;
}

.modal_btn:hover {
  color: black;
  background-color: #c3a95a !important;
}

/* .centerTitle {
      margin-left: 150px;
  }  */

.body-text {
  font-family: "Numans", sans-serif;
  /* font-size: 15px; */
  /* text-align: center; */
}

.numbers-font {
  /* max-width: 900px; */
  font-size: 30px;
  text-align: center;
}

.number-input {
  /* width: 100px; */
  text-align: center;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-self: center !important;

  background: "#E2E2E2" !important;
  box-shadow: "0 0 1px 1px #fff inset, 1px 1px 5px -1px #000" !important;
  padding: "2px 2.26ex 2px 2px" !important;
  border-radius: "6px 3px 3px 6px" !important;
  font-size: 32;
 
}
